* {
    font-family: verdana;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

input {
    background-color: #e0e2e5;
    color: #000;
    outline: none;
    border: none;
    outline: none;
    border-bottom: .0625px solid black;
    padding: 0.625rem;
    width: 250px;
}

input:hover {
    background-color: #c1c7cc;
}