.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #9c050b;
}

.links a {
    margin: 1.5vh;
    text-decoration: none;
    font-size: 2.2vh;
    color: #fff;
    font-family: Verdana;
}

.links a:hover {
    color: #555;
}