.mercados {
    display: flex;
    flex-flow: row wrap;
    gap: 2vw;
    padding: 1vw;
}

.mercado {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 0.5vw;
    font-family: Verdana;
    font-weight: lighter;
}

img {
    height: 25vh;
    width: 18vw;
    margin-bottom: 3vh;
    border-radius: 2vh;
    object-fit: cover;
    object-position: center;
}